* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
}

.menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}

.menu-line {
  border-radius: 20px;
  background-color: #1f2022;
  display: block;
  width: 20px;
  height: 3px;
}

.logo {
  margin-right: 59px;
}

.input-group {
  width: 830px;
  width: 50%;
  border-radius: 22px;
  padding-right: 17px;
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}

.input-search {
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 23px;
  width: 100%;
}

.button-search {
  padding: 0;
  height: 19px;
  width: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon-search {
  fill: black;
}

.icons-link {
  text-decoration: none;
  opacity: 0.24;
}

.icons-link:hover {
  opacity: 0.7;
}

.icons-link:not(last-child) {
  margin-right: 50px;
}

.user {
  margin-left: 45px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar {
  padding-left: 32px;
  position: fixed;
  left: 0;
  top: 114px;
  height: calc(100% - 114px);
  overflow-y: auto;
  width: 220px;
  background-color: white;
}

.content {
  width: 100%;
  height: 400px;
  margin-top: 85px;
  padding-left: 250px;
  padding-top: 30px;
  padding-right: 70px;
}

.nav-menu {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}

.nav-item {
  margin-bottom: 28px;
  align-items: center;
}

.nav-link {
  color: #898989;
  text-decoration: none;
  display: flex;
}

.nav-link:hover {
  color: #ff0000;
}

.nav-link:hover .icon {
  fill: #ff0000;
}

.nav-item .icon {
  fill: #898989;
}

.nav-text {
  margin-left: 13px;
}

.nav-image {
  height: 26px;
  width: 26px;
  border-radius: 50%;
}

.nav-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}

.channel-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #19202c;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 30px;
}

.channel-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* margin-right: 20px; */
}

.channel-text {
  margin-left: 20px;
}

.video-thumb {
  width: 100%;
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

.thumbnail {
  width: 100%;
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.video-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
  margin-top: 10px;
  margin-bottom: 4px;
}

.video-info {
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}

.video-views {
  margin-right: 5px;
}

.video-counter {
  display: flex;
}

.video-views:after {
  content: "";
  width: 2px;
  height: 2px;
  color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.channel {
  position: relative;
  margin-bottom: 50px;
}

.channel-button {
  cursor: pointer;
  position: relative;
}

.slider-buttons {
  position: absolute;
  right: 0;
  top: 15px;
  display: flex;
  align-items: center;
  width: 66px;
  justify-content: space-between;
  right: 8%;
}

.mobile-sidebar {
  display: none;
}

.mobile-search {
  display: none;
}

@media (max-width: 640px) {
  .slider-buttons {
    display: none;
  }
  .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }
  .swiper-slide {
    margin-bottom: 40px;
  }
  .video-thumb {
    height: 300px;
  }
  .mobile-search {
    display: block;
    padding-left: 10px;
    padding-right: 30px;
  }

  .icons {
    display: none;
  }

  .user {
    margin-left: 180px;
  }

  .input-group {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
  }
  .menu-button {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .content {
    padding-left: 32px;
  }
  .mobile-sidebar {
    display: block;
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
  .mobile-sidebar .nav-link {
    display: flex;
    flex-direction: column;
  }
  .mobile-sidebar .nav-menu {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 13px;
    padding-bottom: 11px;
    border-top: 1px solid #f1f1f1;
  }
  .nav-text {
    margin-left: 0;
    font-size: 10px;
    line-height: 13px;
  }
  .nav-item {
    margin-bottom: 0;
  }
}
